* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.imgchest.com/files/6yxkcg98k7w.png);
    background-repeat: no-repeat;
    max-width: 1143px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}

.container {
    display: grid;
    grid-template-rows: 50px 175px 65px 442px 300px 329px 51px 372px;

    grid-template-rows: 50px 175px 65px 442px 329px 51px 372px;
    /* Adjust row heights */
    grid-template-columns: 160px 500px 323px;
    /* Adjusted column widths based on layout */
    grid-template-areas:
        "one one seven"
        "two two two"
        "three three three"
        "four four eight"
        "four four five"
        "six six six"
        "six six six";
    /* Ensures full width in the last row */
    max-width: 983px;
    /* Total width based on column sizes */



}

.box1 {
    grid-area: one;
}

.box2 {
    grid-area: two;
}

.box3 {
    grid-area: three;
}

.box4 {
    grid-area: four;
}

.box5 {
    grid-area: five;
}

.box6 {
    grid-area: six;
}

.box7 {
    grid-area: seven;
}

.box8 {
    grid-area: eight;
}

.container>* {
    border: 2px dashed blue;
    display: grid;
}