* {
    margin: 0;
}

#header h1 {
    font-size: 1.5rem;
    color: white;
}

body {
    font-family: Arial;
}

#title {
    height: 35rem;
    background-color: lightgray;
    text-align: center;
}

#header {
    background-color: dimgray;
    border-bottom: .5rem solid lightseagreen;
    height: 5.5rem;
}

#about {
    display: flex;

}

h3 {
    padding-top: 2.5rem;
    color: LightSalmon;
    display: flex;
    justify-content: center;
}

#fav {
    display: flex;
    justify-content: space-evenly;
}



#about img {
    height: 22rem;
}


#about h3 {
    width: 10rem;
    margin: 0 auto;
}